{% load pagination_tags %}
{% load i18n %}
<div class="tab-pane active list paginate-contents" id="all">
  <p>Total: {{ featured_object_list|length }}</p>
{% if featured_object_list|length > 0 %}
	{% autopaginate featured_object_list 10 %}
	{% for object in featured_object_list %}
		{% if object.o.class_name == 'Layer' %}
		  {% with object.o as layer %}
			{% include "layers/_layer_list_item.html" %}
		  {% endwith %}
		{% elif object.o.class_name == 'Map' %}
		  {% with object.o as map %}
			{% include "maps/_map_list_item.html" %}
		  {% endwith %}
		{% elif object.o.class_name == 'Document' %}
		  {% with object.o as document %}
			{% include "documents/_document_list_item.html" %}
		  {% endwith %}
		{% elif object.o.class_name == 'Profile' %}
		  {% with object as profile %}
			{% include "people/_profile_list_item.html" %}
		  {% endwith %}
		{% endif %}
	{% endfor %}
{% else %}
  <p>{% trans "No data found" %}</p>
{% endif %}
</div>
{% if featured_object_list|length > 0 %}
  {% paginate %}
{% endif %}
