{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% trans "About Brand" %}</h1>
<img src="/static/img/logo.png"/>
    <p align="justify">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus, urna et adipiscing vehicula, nisi nisl ultricies leo, quis convallis ante nisi sit amet est. Suspendisse potenti. Proin at interdum orci, sit amet lacinia ante. Pellentesque lectus mi, interdum ac massa non, condimentum posuere mi. Ut ante metus, porta id viverra quis, condimentum sit amet quam. Maecenas commodo in velit nec vulputate. Aliquam non turpis fermentum, sodales lectus vitae, tempus augue. Vestibulum commodo erat quis velit ullamcorper, ac dignissim odio sagittis. Sed quis pulvinar ipsum.</p>
 </p>
  </header>
<hr/>
<p align="justify" style="text-align: justify">

<b>Introduction</b><br/>

<p>Aliquam varius nisi et metus porttitor, eget lobortis arcu fermentum. Suspendisse id ligula nec nisi vulputate consequat. Duis rutrum erat libero, in dignissim mauris congue hendrerit. Vivamus leo orci, varius a leo vel, mattis sollicitudin mauris. In commodo felis odio, non pulvinar nisi porta at. Nulla facilisi. Vivamus consequat erat et dapibus elementum. In facilisis sollicitudin neque eget consectetur. Nam porta quam ac tellus pulvinar, ut ultrices enim euismod.</p>

<p>Suspendisse at neque nec libero vestibulum ultrices eu sed urna. In id ultricies arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus sodales malesuada luctus. Vivamus non dignissim ante, sit amet viverra erat. Fusce condimentum molestie luctus. Integer ac vehicula velit. Vestibulum arcu quam, mollis non tincidunt eget, tempor vel metus. Integer ante nunc, condimentum eu porttitor ut, scelerisque nec purus.</p>

<p>Aenean lacinia velit vitae neque commodo, vitae mattis felis rhoncus. Proin facilisis purus nec magna hendrerit, at sollicitudin nunc suscipit. Etiam turpis lorem, sodales id velit eget, suscipit fringilla lorem. Nunc scelerisque eleifend sodales. Etiam facilisis accumsan massa, quis faucibus dui tempor ac. Quisque posuere tempus nisi. In sed orci eget sem tincidunt mattis nec et augue. Donec sed massa non ipsum consectetur egestas nec a ligula. Mauris volutpat pellentesque venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu purus consequat, interdum nunc et, sagittis ante. Mauris posuere lectus id ligula consequat, id bibendum odio cursus. Vestibulum nec leo id lorem pharetra rhoncus vel adipiscing risus. Donec vel nibh ultrices quam molestie feugiat.</p>

<p>In vel consequat nisl, lacinia lobortis orci. Cras placerat dolor augue, vel porta ante malesuada ut. Nulla fringilla, justo sed ornare fringilla, urna nisl bibendum justo, et elementum ipsum ligula et metus. Vivamus in ligula posuere, adipiscing dui in, hendrerit elit. Aliquam euismod a sem eu imperdiet. Proin vel mauris molestie mi blandit placerat. Sed feugiat neque ante, vitae cursus nunc vehicula et. Vivamus sollicitudin at mauris et adipiscing. Etiam tortor nisi, congue quis nulla nec, pretium tincidunt metus. Pellentesque egestas magna nec felis tincidunt, eget interdum erat euismod. Donec euismod ligula et nunc lacinia, in egestas arcu venenatis. Duis eleifend urna malesuada nisi faucibus ornare. Praesent tristique viverra est, eu placerat urna faucibus a. Sed elementum, dui sit amet consectetur pellentesque, nulla enim adipiscing leo, vitae tristique eros ipsum eget dolor.</p>
   
{% endblock %}
