{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% trans "About PacGeo" %}</h1>
<img style="margin-top: -50px" src="http://ict.sopac.org/pacgeo/PacGeo.png"/>
    <p align="justify">

<b>PacGeo</b> started life as the Pacific Island Marine Spatial Information System, but since inception has broaden it's scope to be an all encompassing geospatial platform to catalogue, administer and expose geophysical, geodetic and specialist marine spatial data. The system was developed as a regional service in conjuction with Geoscience Australia (GA), SOPAC Division, the UNEP Shelf Programme, the University of Sydney and the Commonwealth Secretariat for provisioning easy access to jurisdictional information as well as other geophysical data in the Pacific.

    </p>
  </header>
<hr/>
<p align="justify" style="text-align: justify">

<b>Introduction</b><br/>

Current and accurate information about the limits of maritime jurisdictions, living and non-living marine resources and the environment, underpins the sustainable management of the marine space of Pacific Island Nations. Historically this information has been managed on a sectoral basis. Policy makers have been forced to seek information from a multitude of sources and this information has often been of variable quality. The Pacific Marine Planning Decision Support Tool (the planning tool) will bring together, under a consolidated standard based framework, information necessary for undertaking comprehensive marine planning in the Pacific region.  The planning tool will build upon the extensive marine data holdings and regional engagement provided by SOPAC/SPC.  Fundamental to the delivery of this activity will be the inclusion of the best elements of established frameworks in Australian, US and European counterpart systems.
<br/><br/>

<b>Framework</b><br/>

Pacific Islanders rely heavily on ocean and coasts as sources of food, income, energy, and security, and as places of cultural significance. Use of the ocean is expanding, and it is becoming increasingly challenging to effectively coordinate sometimes competing uses through current management approaches, which historically were designed to manage single activities and sectors independent of other objectives. Today there is a need to consider human uses in a broader perspective, which includes the connectivity and diversity of marine resources. Marine planning supports the sustainable use of marine resources incorporating an holistic ecosystem-based approach to management. 
The benefits of marine planning include:
<br/>
<ul>

<li>Better access to data and information – a centralised discovery system improves access to publicly available data and information developed and held by regional agencies and Pacific Island Governments;</li>
<li>Reduced conflicts – a common understanding of the national rights and regulations supported by contextual information can improve national and regional decision making</li>
<li>Supports stronger engagement – accessible data and information that depicts stakeholders’ use of marine waters ensures that the interests of the Pacific community are represented; addressing sometimes-limited stakeholder capacity.</li>
<li>Better protection, conservation, and enhancement of marine resources – the participation of multiple interests provides more and better information and leverages limited financial resources to address priority environmental challenges;</li>
<li>Increased economic development – through better data and information access, reduced conflict, and increased regulatory certainty, marine planning creates efficiencies that can make existing commercial and industrial uses such as fishing, shipping, and tourism more profitable, and can provide strong incentives for new uses such as renewable energy;</li>
<li>Regulatory visibility – jurisdictions rights, regulations and restrictions will become readily accessible to policy makers and stakeholders.</li>
</ul>

<br/>
</p>

<p align="justify">
<b>Purpose</b><br/>

Marine planning offers a comprehensive, and integrated approach to managing uses and activities at the national and regional level. Marine planning places sound science and the best available information at the heart of decision-making. The planning tool is designed to improve planning and regulatory efficiencies, decrease associated costs and delays, engage affected communities and stakeholders, and preserve critical ecosystem functions and services.

This planning tool will aggregate national and regional data and information that underpins the process of marine planning into a single decision-making support framework.  The planning tool will assist the development of a multi-sectoral approach and a clearer understanding of the implications of planning decisions on all marine interests.   Better visibility of fundamental information regarding the physical and environmental characteristics of the marine jurisdictions of the Pacific Island Nations and regulatory decisions relating to activities in the marine environment will facilitate broader engagement in the decision making process. 

</p>

{% endblock %}
