         <div class="intro" id="mainIntroText">
            <div align="center" class="pull-right">
               <img src="http://ict.sopac.org/pacgeo/oip.png" align="center" style="width:165px; padding-left: 15px" />
            </div>
            <p align="justify" style="font-size: 16px !important">
               <b>PacGeo</b> started life as the <u>Pacific Island Marine Spatial Information System</u>, but since inception has broaden it's scope to be an all encompassing geospatial platform to catalogue, administer and expose geophysical, geodetic and specialist marine spatial data. The system was developed as a regional service in conjuction with Geoscience Australia (GA), SOPAC Division, the UNEP Shelf Programme, the University of Sydney and the Commonwealth Secretariat for provisioning easy access to jurisdictional information as well as other geophysical data in the Pacific.
            </p>
         </div>
