{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% block title %} PacGeo - Oceans and Islands Programme, Applied GeoScience and Technology Division, SPC {% endblock %}
{% block body_class %}home{% endblock %}
{% block body_outer %}
<div style="margin-top: -20px; margin-bottom: 24px; color:white; height:22px; padding:6px; font-size: 24px; width: 100% !important; background-color: #025C90;" align="center">
   Applied GeoScience and Technology Division, Secretariat of the Pacific Community
</div>
<div class="span12">
   {% block hero %} 
   <div class="hero-unit">
      <div id='mainintro'>
         <!--BRANDING-->
         <div class="logo-and-buttons">
            <img src="http://ict.sopac.org/pacgeo/PacGeo_OIP_1.png" style="width: 480px; margin-top: -24px; margin-bottom: -20px" />
            <span class="pull-right btn-group" style="margin-top: 14px">
               <a class="btn btn-large" href="{% url 'about' %}" onclick="//showAbout();">
               {% trans "About" %}
               </a> 
               <a class="btn btn-large" href="{% url "layer_browse" %}">
               {% trans "Explore Layers" %}
               </a>
               <a class="btn btn-large" href="{% url "maps_browse" %}">
               {% trans "Explore Maps" %}
               </a>
               <!--<a class="btn btn-large" href="{{ wmslink }}">
                  {% trans "WMS" %}
                  </a>-->
            </span>
         </div>
         {% featured_maps as featured_maps %}
         {% if featured_maps|length > 0 %}
         <div class="all-the-carousel">
            <div id="main-carousel" class="carousel slide">
               <div class="carousel-inner">
                  {% for map in featured_maps %}
                  <div class="item{% if forloop.first %} active{% endif %}">
                     {% include "maps/_map_list_carousel_item.html" %}
                  </div>
                  <!-- item --> 
                  {% endfor %}
               </div>
               <!-- carousel-inner --> 
               <a class="carousel-control left" href="#main-carousel" data-slide="prev"><span class="icon-angle-left"></span></a>
               <a class="carousel-control right" href="#main-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
            </div>
            <!-- main-carousel --> 
         </div>
         <!-- all-the-carousel --> 
         {% else %}
         <hr>
         {% endif %}
         <!--BRANDING-->
         <div class="intro" id="mainIntroText">
            <div align="center" class="pull-right">
               <img src="http://ict.sopac.org/pacgeo/oip.png" align="center" style="width:165px; padding-left: 15px" />
            </div>
            <p align="justify" style="font-size: 16px !important">
               <b>PacGeo</b> started life as the <u>Pacific Island Marine Spatial Information System</u>, but since inception has broaden it's scope to be an all encompassing geospatial platform to catalogue, administer and expose geophysical, geodetic and specialist marine spatial data. The system was developed as a regional service in conjuction with Geoscience Australia (GA), SOPAC Division, the UNEP Shelf Programme, the University of Sydney and the Commonwealth Secretariat for provisioning easy access to jurisdictional information as well as other geophysical data in the Pacific.
            </p>
         </div>
         <!-- intro --> 
         <!--- &nbsp;-->
      </div>
      <!-- mainintro --> 
   </div>
   <!-- hero-unit -->  
   {% endblock %}
   {% block mainbody %}
   <div class="row">
      <div class="span12">
         <hr />
      </div>
      <!-- span12 --> 
   </div>
   <!-- row --> 
   <div class="row control-buttons">
      <div class="span1">
         <h2>Show:</h2>
      </div>
      <div class="span4">
         <div class="btn-group" style="text-align: center; width: 100%; ">
            <a id="enableLatestButton" class='btn btn-large' onclick='swapFeaturedLatest()'>Latest Data</a>
            <a id="enableFeaturedButton" class='active btn btn-large' onclick='swapFeaturedLatest()'>Featured Data</a>
         </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="span2 border-left">
         <h2>Contribute:</h2>
      </div>
      <div class="span2">
         <a href="{% url "data_upload" %}" class="btn btn-large btn-block">{% trans 'Upload Layers' %}</a>
      </div>
      <!-- span2 --> 
      <div class="span2">
         <a href="{% url "new_map" %}" class="btn btn-large btn-block">{% trans 'Create a Map' %}</a>
      </div>
      <!-- span2 --> 
      {% else %}
      <div class="span6 border-left">
         <h2 class="contrib-no-login">Log in to contribute.</h2>
      </div>
      {% endif %}
   </div>
   <div class="row">
      <div class="span12">
         <hr />
      </div>
   </div>
   <!-- row --> 
   <div class="row">
      <aside class="span4 move-well-down">
         <section id="latestMaps" class="well hide-onload">
            <h2>{% trans "Latest Maps" %}</h2>
            <section class="article-list latest-maps" id="search-content">
               {% listed_maps as listed_maps %}
               {% for map in listed_maps %}
               {% include "maps/_map_list_item.html" %}
               <hr />
               {% endfor %}
            </section>
         </section>
         <!-- latestLayers --> 
         <div id="featuredMaps" class="well">
            <h2>{% trans "Featured Maps" %}</h2>
            <section class="article-list latest-maps" id="featured-content">
               {% listed_maps as listed_maps %}
               {% for map in listed_maps %}
               {% if map.featured %}
               {% include "maps/_map_list_item.html" %}
               <hr />
               {% endif %}
               {% endfor %}
            </section>
         </div>
         <!-- featuredLayers --> 
         <a href="{% url "maps_browse" %}" class="btn btn-large btn-block">View all Maps</a>
      </aside>
      <div class="span8">
         <section id="latestLayers" class="widget list paginate-contents hide-onload">
            <h2>{% trans "Latest Layers" %}</h2>
            <div class="paginate paginate-auto" id="search-content">
               {% include 'search/search_content.html' %}
            </div>
            <!-- paginate --> 
         </section>
         <!-- latestLayers --> 
         <section id="featuredLayers" class="widget list paginate-contents">
            <h2>{% trans "Featured Layers" %}</h2>
            <div class="paginate paginate-auto" id="featured-content">
               {% include 'search/search_content_featured.html' %}
            </div>
            <!-- paginate --> 
         </section>
         <!-- featuredLayers --> 
         <a href="{% url "layer_browse" %}" class="btn btn-large btn-block">View all Layers</a>
      </div>
      <!-- span6 -->
   </div>
   {% endblock %}
</div>
{% endblock %}
{% block extra_script %}  
{% include 'search_scripts.html' %}
{% endblock extra_script %}
