{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}

{% block title %} PacGeo - Oceans and Islands Programme, Applied GeoScience and Technology Division, SPC {% endblock %}

{% block body_class %}home{% endblock %}

{% block body_outer %}

<div style="margin-top: -20px; margin-bottom: 24px; color:white; height:22px; padding:6px; font-size: 24px; width: 100% !important; background-color: #025C90;" align="center">
Applied GeoScience and Technology Division, Secretariat of the Pacific Community

</div>


<div class="span12">



	{% block hero %} 



			<div class="hero-unit">



				<div id='mainintro'>



        <img src="http://ict.sopac.org/pacgeo/PacGeo_OIP_1.png" style="width: 480px; margin-top: -24px; margin-bottom: -20px" />
<!--
					<h1>{% trans "Welcome" %} to PIMMS</h1>
-->
					<span class="pull-right btn-group" style="margin-top: 14px">
						<a class="btn btn-large" href="{% url "about" %}" onclick="//showAbout();">
							{% trans "About" %}
						</a> 
						<a class="btn btn-large" href="{% url "layer_browse" %}">
							{% trans "Explore Layers" %}
						</a>
						<a class="btn btn-large" href="{% url "maps_browse" %}">
							{% trans "Explore Maps" %}
						</a>
						<!--<a class="btn btn-large" href="{{ wmslink }}">
							{% trans "WMS" %}
						</a>-->
          </span>

<hr/>

					<div class="all-the-carousel">
						<div id="main-carousel" class="carousel slide">  
						  <div class="carousel-inner">
							{% featured_maps as featured_maps %}
							{% for map in featured_maps %}
							<div class="item{% if forloop.first %} active{% endif %}">
								{% include "maps/_map_list_carousel_item.html" %}
							</div>  <!-- item --> 
							{% endfor %}
						  </div> <!-- carousel-inner --> 
						  <a class="carousel-control left" href="#main-carousel" data-slide="prev"><span class="icon-angle-left"></span></a>
						  <a class="carousel-control right" href="#main-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
						</div> <!-- main-carousel --> 

<hr style="margin-top: -30px"/>

					</div> <!-- all-the-carousel --> 
					<div class="intro" id="mainIntroText">
						<p align="justify" style="font-size: 16px !important">

<b>PacGeo</b> started life as the <u>Pacific Island Marine Spatial Information System</u>, but since inception has broaden it's scope to be an all encompassing geospatial platform to catalogue, administer and expose geophysical, geodetic and specialist marine spatial data. The system was developed as a regional service in conjuction with Geoscience Australia (GA), SOPAC Division, the UNEP Shelf Programme, the University of Sydney and the Commonwealth Secretariat for provisioning easy access to jurisdictional information as well as other geophysical data in the Pacific.
<hr/>
						</p>
		
					</div> <!-- intro --> 
		        </div> <!-- mainintro --> 
	        </div> <!-- hero-unit -->  
  {% endblock %}

  {% block mainbody %}
  <div class="row">
	<div class="span12">
	 
	</div> <!-- span12 --> 
  </div> <!-- row --> 
  <div class="row">
    <div class="span8">
      <section id="latestLayers" class="widget list paginate-contents">
        <h2>{% trans "Latest Layers" %}</h2>
        <div class="paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div> <!-- paginate --> 
      </section> <!-- latestLayers --> 
      <section id="featuredLayers" class="widget list paginate-contents hide-onload">
        <h2>{% trans "Featured Layers" %}</h2>
        <div class="paginate paginate-auto" id="featured-content">
	      {% include 'search/search_content_featured.html' %}
        </div> <!-- paginate --> 
      </section> <!-- featuredLayers --> 
    </div> <!-- span8 --> 
    <aside class="span4">

<div align="center">
<img src="http://ict.sopac.org/pacgeo/oip.png" align="center" style="width:200px" />
</div>	  

      <div class="pagination pagination-large" style="text-align: center">
	    <ul>
	      <li id="enableLatestButton" class='active'><a onclick='swapFeaturedLatest()'>Latest Data</a></li>
	      <li id="enableFeaturedButton" ><a onclick='swapFeaturedLatest()'>Featured Data</a></li>
	    </ul>
	  </div> <!-- pagination --> 
      {% if request.user.is_authenticated %}
        <div class="well">
          <section>
            <h2>{% trans "Contribute" %}</h2>
            <p class="main-actions">
            {% blocktrans %}
              GeoNode enables you to upload, manage, and browse data layers. Search for data that is valuable to you, or upload your own data. 
            {% endblocktrans %}
              <a href="{% url "data_upload" %}" class="btn btn-large">{% trans 'Upload Layers' %}</a>
            {% blocktrans %}
              GeoNode enables you to compose and share maps. Create a map with our cartography tool, or explore maps shared by others. 
            {% endblocktrans %}
              <a href="{% url "new_map" %}" class="btn btn-large">{% trans 'Create a Map' %}</a>
            </p>
          </section>
        </div>
      {% endif %}
      <div id="latestMaps" class="well">
        <h2>{% trans "Latest Maps" %}</h2>
        <section class="article-list latest-maps">
          {% listed_maps as listed_maps %}
          {% for map in listed_maps %}
            {% include "maps/_map_list_item.html" %}
          {% endfor %}
        </section>
      </div>
      <div id="featuredMaps" class="well hide-onload">
        <h2>{% trans "Featured Maps" %}</h2>
        <section class="article-list latest-maps">
          {% listed_maps as listed_maps %}
          {% for map in listed_maps %}
            {% if map.featured %}
              {% include "maps/_map_list_item.html" %}
            {% endif %}
          {% endfor %}
        </section>
      </div>
    </aside>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block extra_script %}  
  {% include 'search_scripts.html' %}
{% endblock extra_script %}
