
/*.hero-unit .btn {
	background-color: #222222;
}*/

.hide-onload {
	display: none;
}

.navbar .navbar-inner {
}

.hero-unit .intro {
	width: 100%;
}

#sopacbody .hero-unit {	
	margin-bottom: 0px;
}

#main-carousel {
	/*height: 200px;*/
}

.featured-map-carousel {
	border-style: solid;
	border-width: 1px;
}

.carousel-thumb-background {
	width: 300px;
	height: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	margin-right: 20px;
}

.carousel-control {
	font-size: 37px;
}

#mainintro h1 {
	display: inline;
}

#sopacbody {
	background-image: url(/static/img/bg.jpg);
	background-position: 50% 0%;
	background-repeat: repeat-x;
	background-color: rgb(12, 58, 109);
}

#sopacmain-content {
	background: #FFF;
	padding-bottom: 30px;
	margin-bottom: 0px;
}

.featured-map-carousel {
	margin-left: 70px;
	margin-right: 70px;
	height:140px;
}

.featured-map-formatting {
	display: inline;
}

.featured-map-formatting .abstract {
	font-size: 12px;
}

#contribH2 {
	text-align: right;
	vertical-align: middle;
}

.control-buttons h2 {
	text-align: right;
	line-height: 18px;
}

.control-buttons .contrib-no-login {
	text-align: center;
}

.border-right {
	border-style: none;
	border-right: 1px solid black;
}
.border-left {
	border-style: none;
	border-left: 1px solid black;
}

.list article p {
	width: 320px;
}

.list article h3 {
	min-width: 320px
}

.move-well-down {
	padding-top: 9px;
}

aside .well h2 {
	background-color: #464646;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.carousel-inner {
	border-style: none;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.carousel-map {
	margin: auto;
	width: 600px;
	border-style: none;
	border-right: 1px solid #EEE;
	border-left: 1px solid #EEE;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
}

.logo-and-buttons {
	padding-bottom: 20px;
}

.thumb {
	max-height: 200px;
	max-width: 240px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-thumb-background a {
	display: block;
	height: 100%;
	width: 100%;
}

.list article .item-header img {
	width: auto;
}

.navbar .navbar-inner {
	background-color: rgb(0, 116, 148);
	background-image: linear-gradient(to bottom, rgb(0, 140, 179), rgb(0, 80, 102));
}
